<h1>Search for an Asteroid by id</h1>

<form action="/lookup" method="POST">
  <div>
    <label>Astroid Id</label>
    <input type="text" name="title" placeholder="Enter an asteroid id" value=" ">
  </div>
  <div>
    <input type="submit" value="Search">
  </div>

</form>


<h1>Search for feed of asteroids</h1>

<form action="/feed" method="POST">
  <div>
    <label>Start Date</label>
    <input id='start_date_field' type="text" name="start" placeholder="Enter a start date" value=" ">
  </div>
  <div>
    <label>End Date</label>
    <input id='end_date_field' type="text" name="end" placeholder="Enter a end date" value=" ">
  </div>
  <div>
    <input id="feed_search_button" type="submit" value="Search">
  </div>

</form>

<h1>Get browse service</h1>

<form action="/browse" method="POST">
  <div>
    <label>Browse Service</label>
  </div>
  <div>
  <div>
    <input type="submit" value="Search">
  </div>

</form>
