<nav id="navbar">
    <a class="navbar_links" id="home_link" href="/">Home</a>
    <a class="navbar_links" id="resource_link" href="/resource">Space objects</a>
    <a class="navbar_links" id="new_post_link" href="/resource/new">Add a new space object</a>
</nav>
