<h1>My Solar System Website</h1>

<form action="/" method="POST">
  <div>
    <label>Astroid Id</label>
    <input type="text" name="title" placeholder="Enter an asteroid id" value=" ">
  </div>
  <div>
    <input type="submit" value="Save Post">
  </div>

</form>
