<h1>results</h1>

<table>
  <tr>
    <th>Attribute</th>
    <th>Values</th>
  </tr>
  <% keys = @results.keys %>
  <% keys.each do |attribute| %>
  <tr>
    <td><%= attribute %></td>
    <td><%= @results[attribute] %></td>
  </tr>
  <% end %>
</table>
