<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

  <!-- we inject a naviagtion partial here  -->
   <%= erb(:'partials/navigation', :layout => false) %>

   <!-- our template content will be injected here -->
   <%= yield %>

</body>
</html>
