/*table, th, td {
    border: 1px solid black;
}*/

.asteroid_name_title {
  text-align: center;
}

table, tr {
  border: 1px solid black;
  margin: auto;
}

th {
  text-align: center;
}

.results_value {
  text-align: center;
}

body {
  color: #337ab7;
}

img {
  width: 103px;
}

.spaceObjectContainer {
  display: inline-block;
}
.space_object_titles {
  text-align: center;
}

#navbar{
  background-color: #000000b3;
  height: 40px;
}

.navbar_links {
  margin: 140px;
}

.index_form_containers {
  background-color: #000000b3;
  width: 483px;
  margin: auto;
  margin-top: 44px;
}

#start_date_field {
  margin: auto;
}

#feed_search_button {
  margin-left: 205px;
  margin-bottom: 8px;
  margin-top: 8px;
}

.titles_index_page {
  padding-left: 10px;
  padding-right: 10px;
}

#start_date_label {
  padding-left: 12px;
}

/*#asteroid_id_field {
  margin-left: 83px;
}*/

#asteroid_id_label {
 margin-left: 109px;
}


#form_search_button {
  margin-left: 205px;
  margin-bottom: 8px;
  margin-top: 8px;
}

#browse_title_index_page {
  margin-left: 70px;

}


#browse_search_button {
  margin-left: 205px;
  margin-bottom: 8px;
  margin-top: 8px;
}

.date_title_asteroid_feed {
  text-align: center;
}

#date_range_title {
  text-align: center;
}

#number_of_asteroids_title {
  text-align: center;
}

.asteroid_tables_div{
  margin-bottom: 34px;
  margin-top: 78px;
}

#asteroid_name_title_lookup {
  text-align: center;
}

#main_title_browse {
  text-align: center;
}

#resource_index_title {
  text-align: center;
}

.row_wrapper {
  width: 500px;
  margin: auto;
}

.space_object_images {
  width: 103px;
  height: 103px;
}
