<form action="/<%= @spaceobjects.id %>" method="POST">
  <div>
    <label>Title</label>
    <input id="edit_title_field" type="text" name="title" placeholder="Enter a title" value="<%= @spaceobjects.title %>">
  </div>
  <div>
    <label>Body</label>
    <textarea id="edit_body_field" name="body" rows="8" cols="40" placeholder="The body of the post"><%= @spaceobjects.body %></textarea>
  </div>
  <div>
    <label>Image Link</label>
    <input id="edit_image_field" type="text" name="image" placeholder="Enter the link of the image of the book" value="<%= @spaceobjects.image %>">
  </div>
  <div>
    <input id="edit_post_save_button" type="submit" value="Save Post">
  </div>
  <% if(@spaceobjects.id) %>
    <input type="hidden" name="_method" value="PUT">
  <% end %>
