<h1>SpaceObjects</h1>

<% @spaceobjects.each do |spaceobject| %>
  <div class='hello'>
    <p><%= spaceobject.id %></p>
    <p><%= spaceobject.body %></p>
    <p><%= spaceobject.image %></p>
    <p><%= spaceobject.title %></p>
  </div>
<% end %>
